@{
    Layout = "Layout";
    ViewBag.Title = @Model.Character.Name;
    var chr = @Model.Character;
}

Character details for @chr.Name

<p>
    Currently training
    <ul>
        @foreach (var skill in @chr.SkillQueue.Entries)
        {
            <li><img src="https://image.eveonline.com/Type/@(skill.SkillId)_32.png" />@skill.SkillName</li>
        }
    </ul>
</p>
<p>Total time left in queue: @Model.TotalQueueLength</p>
<p>Current SP: @chr.SP</p>
<p>Current clone: @chr.CloneName (@chr.CloneSP)</p>
<p>
    Current notifications:
    <ul>
        @foreach (var notification in @chr.Notifications)
        {
            <li>@notification.NotificationText</li>
        }
    </ul>

</p>